extends layout 


block content

    if currentUser
        h1 Hello, #{currentUser.username}

    else
        h1= title
        form(method="POST" action="/log-in")
            label(for='username') Username:

            input(type='text', name='username' id="username")


            label(for='pass') Password:
            input(type='password', name='password' id="pass")


            button(type='submit') Log In