extends layout 

block content
  h1= title
  form(method="POST" action="/log-in")
    label(for='username') Username:

    input(type='text', name='username' id="username")


    label(for='pass') Password:
    input(type='password', name='password' id="pass")


    button(type='submit') Log In